body {

      color: #40514E;
      margin: 0;
      text-align: center;
      font-family: 'Merriweather', serif;

     }

h1 {

     font-size: 5.625rem;
     margin: 50px auto 0px auto;
     font-family: 'Sacramento', cursive;
     color: #66BFBF;

   }

h2 {

        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        color: #66BFBF;
        font-weight: normal;
        padding-bottom: 10px;

   }

h3 {
      color: #11999E;
      font-family: 'Montserrat', sans-serif;

   }

.top-container {

               padding: 100px;
               background-color: #E4F9F5;
               height: 700px;

               }

.middle-container {


                  }


.bottom-container {

                      margin: 100px auto auto auto;
                      padding: 50px 0 20px;
                      background-color:  #66BFBF;

                  }

a {

        color: #11999E;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
        text-decoration: none;


  }

a:hover {

                color: #EAF6F6;

        }

.copyright {

                color: #EAF6F6;
                font-size: 0.75rem;
                padding: 20px 0;

           }

.top-cloud {

               position: relative;
               left: 200px;

           }


.bottom-cloud {

               position: absolute;
               margin-right: 200px;

              }

.pro {

        text-decoration: underline;

     }

.intro {

            width: 30%;
            margin: auto;

       }

p {

        line-height: 2;

  }

hr {

        border: dotted #EAF6F6 6px;
        border-bottom: none;
        width: 4%;
        margin: 100px auto;

   }

.a_programmer_text_h2 {

                position: relative;
                left: 30px;

           }

.skill-row {

                width: 50%;
                margin: 100px auto 100px auto;
                text-align: left;
                line-height: 2;

           }

.coding-img {

        width: 25%;
        float: left;
        margin-right: 30px;

         }

.cycling-img {

        width: 25%;
        float: right;
        margin-right: 30px;

         }

.swimming-img {

        width: 25%;
        float: left;
        margin-right: 30px;

         }

.skating-img {

        width: 25%;
        float: right;
        margin-right: 30px;

         }

.contact-message {

                        width: 40%;
                        margin: 40px auto 60px;

                }


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}